@import "font-lato.css";

section,nav,header,aside,h1,h2,h3,h4,h5,h6,hgroup,footer,ul,li,main { display: block; padding: 0; margin: 0; }
body { padding: 0; margin: 0;  position: relative; font-family: "Lato-Regular"; background-color: #FCFCFC; }
li { float: left; }
select { background-color:#010F21; color: #ffffff; height: 35px; width: 100%; }
main { width: 92%; margin: 0 auto; }
form { margin:0; }









/* New Item */
.new-item {
	
}

.data-filters {

}


.data-filters .wrapper-data-filters-main-nav .data-filters-main-nav {
	display: inline-block;
	float: left;
	margin-left: 25px;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul {
	display: inline-block;
	float: left;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul li{
	padding: 6px 10px;
	margin-right: 10px;
	border-radius: 10px 10px 0 0;
	background-color: rgba(255, 255, 255,0);
	border-left: solid 1px #c2c2c2;
	border-top: solid 1px #c2c2c2;
	border-right: solid 1px #c2c2c2;
	color:#8B8B8B;
	font-size: 11pt;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul li.selected{
	background-color: rgb(204, 204, 204);
	border-left: solid 1px rgb(204, 204, 204);
	border-top: solid 1px rgb(204, 204, 204);
	border-right: solid 1px rgb(204, 204, 204);
	color: #fff;
}
 
.data-filters-title,.section-data-title , .new-item-title,.section-data-title {
	margin: 10px;
}

.wrapper-data-filters, .wrapper-new-item {
	background-color: #F2F2F2;
	border-radius: 8px;
	padding: 10px 2%;
	border: solid 1px #c2c2c2;
	float: left;
	width: 96%;

}

.wrapper-data-filters h1, .wrapper-new-item h1 {
	margin: 10px 0 17px 0;
	font-size: 18px;
	/*text-align: center;
	font-family: "Lato-Bold";
	color: #6DA59B;*/
	float: left;
}

.list-form,
.item-form .list-date-filters {
	display: inline-block;
	width: 100%;
}

.list-form .item-form {
	float: left;
	width: 49%;
	margin: 0 2% 10px 0;
}

.list-form .item-form:nth-child(even){
	margin-right: 0;
}

.item-form .list-date-filters .item-form:nth-child(even){
	margin-right: 3%;
}

.item-form .list-date-filters .item-form:last-child,
.item-form select:last-child {
	margin-right: 0 !important;
}

.item-form.day {
	width: 66%;
}

.item-form.hour {
	width: 32%;
}

.item-form.hour select {
	width: 30%;
}

.item-form .select-day {
	width: 21% !important;
}

.item-form .select-month {
	width: 44% !important;
}

.item-form .select-year {
	width: 30% !important;
}

.item-form .select-hours,
.item-form .select-minutes,
.item-form .select-seconds {
	width: 31% !important;
}

.list-form .item-form.large {
	width: 100%;
	margin-right: 0%;
}



.list-form .item-form label {
	display: inline-block;
	width: 100%;
	padding: 0 0 5px 0;
}

.list-form .item-form input,
.list-form .item-form select {
	width: 96%;
	padding: 10px 2%;
	font-size: 20px;
	font-family: Lato-light;
	border-radius: 5px;
	border: solid 1px #ccc;
}

.list-form .item-form select {
	height: 46px;
	background-color: #ccc;
	width: 100%;
}

.data-filters-confirmation-nav, .new-item-confirmation-nav {
	display: inline-block;
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

.data-filters-confirmation-nav ul, .new-item-confirmation-nav ul {
	display: inline-block;
}

.data-filters-confirmation-nav li, .new-item-confirmation-nav li {
	padding: 5px 10px;
	margin-right: 10px;
	background-color: rgb(171, 171, 171);
	color:#fff;
	border-radius: 5px;
	font-size: 16px;
}
.data-filters-confirmation-nav li:hover,.new-item-confirmation-nav li:hover,.edition-nav .btn:hover {
	background-color: rgb(134, 134, 134);
}

/* End New Item */

/* Start Section Data */
.section-data {
	width: 100%;
	margin: 40px 0;
	float: left;
}

.section-data ul {
	display: inline-block;
	width: 100%;
}

.table-header {
	color:#fff;
	background-color: #F1623D;
	padding: 8px 0;
	display: inline-block;
	width: 100%;
}
.table-data {
	display: inline-block;
}

.table-data .item-table-data {
	width: 100%;
	padding: 4px 0;
	font-family: "Lato-Light";
}

.table-data .item-table-data:nth-child(even) {
	background-color: #E2E2E2;
}

.edition-nav {
	display: inline-block;
}

.edition-nav .btn {
	padding: 3px 10px;
	float: left;
	margin-right: 10px;
	background-color: rgb(171, 171, 171);
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
}

.edition-nav .btn:last-child {
	margin-right: 0;
}

.table-header li, .table-data .item-table-data li {
	text-align: center;
	padding: 5px 0;
}

.section-data .table-header li:first-child, .section-data .table-data .item-table-data li:first-child{
	width: 6%;
}

/*
.section-data .table-header li:last-child, .section-data .table-data .item-table-data li:last-child{
	width: 7%;
}
*/

.section-data.bets-data .table-header li:nth-child(1), .section-data.bets-data .table-data .item-table-data li:nth-child(1){
	width: 6%;
}

.section-data.bets-data .table-header li:nth-child(2), .section-data.bets-data .table-data .item-table-data li:nth-child(2){
	width: 7%;
}
.section-data.bets-data .table-header li:nth-child(3), .section-data.bets-data .table-data .item-table-data li:nth-child(3){
	width: 7%;
}
.section-data.bets-data .table-header li:nth-child(4), .section-data.bets-data .table-data .item-table-data li:nth-child(4){
	width: 10%;
}
.section-data.bets-data .table-header li:nth-child(5), .section-data.bets-data .table-data .item-table-data li:nth-child(5){
	width: 14%;
}
.section-data.bets-data .table-header li:nth-child(6), .section-data.bets-data .table-data .item-table-data li:nth-child(6){
	width: 14%;
}
.section-data.bets-data .table-header li:nth-child(7), .section-data.bets-data .table-data .item-table-data li:nth-child(7){
	width: 14%;
}
.section-data.bets-data .table-header li:nth-child(8), .section-data.bets-data .table-data .item-table-data li:nth-child(8){
	width: 14%;
}

.section-data.bets-data .table-header li:nth-child(9), .section-data.bets-data .table-data .item-table-data li:nth-child(9){
	width: 6%;
}

.section-data.bets-data .table-header li:last-child, .section-data.bets-data .table-data .item-table-data li:last-child {
	width: 7%;
}


.section-data.vendors-data .table-header li:nth-child(2), .section-data.vendors-data .table-data .item-table-data li:nth-child(2){
	width: 16%;
}
.section-data.vendors-data .table-header li:nth-child(3), .section-data.vendors-data .table-data .item-table-data li:nth-child(3){
	width: 10%;
}
.section-data.vendors-data .table-header li:nth-child(4), .section-data.vendors-data .table-data .item-table-data li:nth-child(4){
	width:10%;
}
.section-data.vendors-data .table-header li:nth-child(5), .section-data.vendors-data .table-data .item-table-data li:nth-child(5){
	width: 7%;
}
.section-data.vendors-data .table-header li:nth-child(6), .section-data.vendors-data .table-data .item-table-data li:nth-child(6){
	width: 10%;
}
.section-data.vendors-data .table-header li:nth-child(7), .section-data.vendors-data .table-data .item-table-data li:nth-child(7){
	width: 21%;
}

.section-data.vendors-data .table-header li:last-child, .section-data.vendors-data .table-data .item-table-data li:last-child{
	width: 19%;
	text-align: left;
}


.section-data.devices-data .table-header li:nth-child(2), .section-data.devices-data .table-data .item-table-data li:nth-child(2){
	width: 41%;
}
.section-data.devices-data .table-header li:nth-child(3), .section-data.devices-data .table-data .item-table-data li:nth-child(3){
	width: 40%;
}

.section-data.devices-data .table-header li:last-child, .section-data.devices-data .table-data .item-table-data li:last-child{
	width: 11%;
}


.wrapper-total-amount { 
	text-align: center;
  	margin: 15px 0;
  	font-size: 20px;
}

/* End Section Data */

.popup {
	position: fixed;
}

.popup-bet-details {
	width: 830px;
	min-height: 180px;
	padding: 20px;
	background-color: #FFF;
	border: solid 1px #c2c2c2;
	border-radius: 5px;
	position: absolute !important;
}

.popup-bet-details .btn-close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.wrapper-bet-data {
}

.wrapper-bets .table-header li:nth-child(1),.wrapper-bets .table-data ul li:nth-child(1) {
	width: 35%;
}
.wrapper-bets .table-header li:nth-child(2),.wrapper-bets .table-data ul li:nth-child(2) {
	width: 35%;
}
.wrapper-bets .table-header li:nth-child(3),.wrapper-bets .table-data ul li:nth-child(3) {
	width: 30%;
}

.wrapper-bets .bet-total-amount {
	border-top: solid 1px #D7D7D7;
	padding-top: 10px;
	float: right;
	width: 30%;
	padding-left: 70%;
	text-align: center;
}

.wrapper-bets .table-data {
	/*max-height: 148px;*/
	overflow: scroll;
	width: 100%;
}

.wrapper-bet-data .list-bet-data {
}

.wrapper-bet-data .list-bet-data .item-bet-data-group {
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 15px;
}

.wrapper-bet-data .list-bet-data .item-bet-data-group h3 {
	margin-bottom: 6px;
}

.wrapper-bet-data .list-bet-data .item-bet-data-group:first-child {
	margin-top: 20px;
}

.wrapper-bet-data .list-bet-data .item-bet-data-group:last-child {
	margin-bottom: 20px;
}
.wrapper-bet-data .list-bet-data .item-bet-data-group ul .item-bet-data {
	width: 33%;
	float: left;
	font-family: "Lato-Light";
	margin-bottom: 8px;
}

.btn {
	cursor: pointer;
}

.highlighted, .value {
	font-family: "Lato-Bold";
	color : #000;
}

.no-data-message {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.bet-status0,.bet-status1 {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 4px;
}

.bet-status0 {
	background-color: red;
}
.bet-status1 {
	background-color: green;
}

.total-bets {
	background-color: rgba(161, 161, 161, 0.7);
	padding: 5px 10px;
	border-radius: 9px;
	font-size: 11pt;
	color: #fff;
}




