.main-content { padding: 30px 0 20px 0; }
nav.main-nav { text-align: center; }
nav.main-nav ul { display: inline-block; }
nav.main-nav ul li { padding: 6px 12px;	background-color:#93B5D3; color: #fff; margin-right: 10px; border-radius: 0 0 5px 5px; }
nav.main-nav ul li:last-child { margin-right: 0; }
nav.main-nav ul li:hover { background-color: #C44741; }
nav.main-nav ul li.selected { background-color: #C44741; }
nav.main-nav ul li span { font-size: 18px; }
/*.btn-upload-file {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  margin: 7px 15px;
  background-color: rgb(241, 98, 61);
  border-radius: 5px;
}*/