.wrapper-filters,.wrapper-trxs-list {
	float: left;
}

.wrapper-trxs-list {
	width: 100%;
	font-size: 16px;
	padding: 40px 0;
}

.data-filters .wrapper-data-filters-main-nav .data-filters-main-nav {
	display: inline-block;
	float: left;
	margin-left: 25px;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul {
	display: inline-block;
	float: left;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul li{
	padding: 6px 10px;
	margin-right: 10px;
	border-radius: 10px 10px 0 0;
	background-color: rgba(255, 255, 255,0);
	border-left: solid 1px #c2c2c2;
	border-top: solid 1px #c2c2c2;
	border-right: solid 1px #c2c2c2;
	color:#8B8B8B;
	font-size: 11pt;
}

.wrapper-data-filters-main-nav .data-filters-main-nav ul li.selected{
	background-color: rgb(204, 204, 204);
	border-left: solid 1px rgb(204, 204, 204);
	border-top: solid 1px rgb(204, 204, 204);
	border-right: solid 1px rgb(204, 204, 204);
	color: #fff;
}
 
.data-filters-title,.section-data-title , .new-item-title,.section-data-title {
	margin: 10px;
}

.wrapper-data-filters, .wrapper-new-item {
	background-color: #F2F2F2;
	border-radius: 8px;
	padding: 10px 2%;
	border: solid 1px #c2c2c2;
	float: left;
	width: 96%;

}

.wrapper-data-filters h1, .wrapper-new-item h1 {
	margin: 10px 0 17px 0;
	font-size: 18px;
	/*text-align: center;
	font-family: "Lato-Bold";
	color: #6DA59B;*/
	float: left;
}

.list-form,
.item-form .list-date-filters {
	display: inline-block;
	width: 100%;
}

.list-form .item-form {
	float: left;
	width: 49%;
	margin: 0 2% 10px 0;
}

.list-form .item-form:nth-child(even){
	margin-right: 0;
}

.item-form .list-date-filters .item-form:nth-child(even){
	margin-right: 3%;
}

.item-form .list-date-filters .item-form:last-child,
.item-form select:last-child {
	margin-right: 0 !important;
}

.item-form.day {
	width: 66%;
}

.item-form.hour {
	width: 32%;
}

.item-form.hour select {
	width: 30%;
}

.item-form .select-day {
	width: 21% !important;
}

.item-form .select-month {
	width: 44% !important;
}

.item-form .select-year {
	width: 30% !important;
}

.item-form .select-hours,
.item-form .select-minutes,
.item-form .select-seconds {
	width: 31% !important;
}

.list-form .item-form.large {
	width: 100%;
	margin-right: 0%;
}



.list-form .item-form label {
	display: inline-block;
	width: 100%;
	padding: 0 0 5px 0;
}

.list-form .item-form input,
.list-form .item-form select {
	width: 96%;
	padding: 10px 2%;
	font-size: 20px;
	font-family: Lato-light;
	border-radius: 5px;
	border: solid 1px #ccc;
}

.list-form .item-form select {
	height: 46px;
	background-color: #ccc;
	width: 100%;
}

.data-filters-confirmation-nav, .new-item-confirmation-nav {
	display: inline-block;
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

.data-filters-confirmation-nav ul, .new-item-confirmation-nav ul {
	display: inline-block;
}

.data-filters-confirmation-nav li, .new-item-confirmation-nav li {
	padding: 5px 10px;
	margin-right: 10px;
	background-color: rgb(171, 171, 171);
	color:#fff;
	border-radius: 5px;
	font-size: 16px;
}
.data-filters-confirmation-nav li:hover,.new-item-confirmation-nav li:hover,.edition-nav .btn:hover {
	background-color: rgb(134, 134, 134);
}


.trxs-list-header,
.wrapper-trxs-list-data,
.trxs-list-data {
	display: inline-block;
	width: 100%;
}

.trx-group-data {
	border-top: solid 1px rgba(0,0,0,.23);
	display: inline-block;
	width: 96%;
	padding: 25px 2%;
}

.trx-group-data:nth-child(1){
	border:none;
}

.trx-group-data:last-child {
	border-bottom: solid 1px rgba(0,0,0,.23);
}

.trxs-list-header {
	padding: 0 0 10px 0;
}

.trx-group-data .trxs-list-header .trxs-list-header-column,
.trxs-list-data .trx-item-row {
	text-align: left;
}

.trx-group-data .trxs-list-header .trxs-list-header-column {
	font-family: "Lato-Bold";
}
.trxs-list-data .trx-item-row {
	margin-bottom: 10px;
}

.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(1),
.trxs-list-data .trx-item-row:nth-child(1){
	width: 10%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(2),
.trxs-list-data .trx-item-row:nth-child(2){
	width: 20%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(3),
.trxs-list-data .trx-item-row:nth-child(3){
	width: 14%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(4),
.trxs-list-data .trx-item-row:nth-child(4){
	width: 10%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(5),
.trxs-list-data .trx-item-row:nth-child(5){
	width: 7%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(6),
.trxs-list-data .trx-item-row:nth-child(6){
	width: 9%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(7),
.trxs-list-data .trx-item-row:nth-child(7){
	width: 12%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(8),
.trxs-list-data .trx-item-row:nth-child(8){
	width: 8%;
}
.trx-group-data .trxs-list-header .trxs-list-header-column:nth-child(9),
.trxs-list-data .trx-item-row:nth-child(9){
	width: 9%;
}

.trx-detail-amount {
	float: right;
	width: 32%;
	padding: 10px 0 0 0;
}

.trx-detail-amount .item-trx-detail-amount {
	width: 100%;
	margin-bottom: 10px;
}

.trx-detail-amount .item-trx-detail-amount label {
	float: left;
	width: 69%;
}

.trx-detail-amount .item-trx-detail-amount .trx-detail-value {
	float: left;
	width: 30%;
	font-family: "Lato-Bold";
}

.item-trx-detail-amount.equal-divisor {
	border-bottom: solid 1px #000;
}

.trx-group-data:nth-child(even) {
	background-color: #f5f5f5;
}

.item-trx-detail-amount #total-amount {
	font-size: 18px;
}

.wrapper-trxs-amount {
	display: none;
	width: 100%;
	padding-bottom: 20px 0 30px 0;
}

.wrapper-trxs-amount h1 {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 17px;
}

.wrapper-trxs-amount .trx-detail-amount {
	width: 42%;
	font-size: 17px;
	padding-top: 20px;
	float: none;
  	margin: 0 auto;
}

.total-clients-trx-amount {
	font-size: 21px;
}