<section class="view transactions-view">
	<div class="wrapper-filters"></div>
	<div class="wrapper-trxs-group">
		<div class="wrapper-trxs-list"></div>
		<div class="wrapper-trxs-amount">
			<h1>TOTAL TRANSACCIONES POR CLIENTES</h1>
			<ul class="trx-detail-amount">
				<li class="item-trx-detail-amount">
					<label>Total consumido x clientes</label>
					<span class="trx-detail-value total-clients-bet-amount">00</span>
				</li>
				<li class="item-trx-detail-amount">
					<label>Importe total tiradas x clientes</label>
					<span class="trx-detail-value total-clients-tiradas-amount">$00000</span>
				</li>
				<li class="item-trx-detail-amount equal-divisor"></li>
				<li class="item-trx-detail-amount">
					<label>Total consumido</label>
					<span class="trx-detail-value total-clients-trx-amount">$0000.00</span>
				</li>
			</ul>
		</div>
	</div>
</section>