<section class="view transactions-view">
	<div class="wrapper-filters"></div>
	<div class="wrapper-trxs-group">
		<div class="wrapper-trxs-list"></div>
		<div class="wrapper-trxs-amount">
			<h1>TOTAL TRANSACCIONES POR CLIENTES CORRESPONDIENTE AL DÍA 20/03/1985</h1>
			<ul class="trx-detail-amount">
				<li class="item-trx-detail-amount">
					<label>Total tiradas x clientes</label>
					<span id="total-bets" class="trx-detail-value">00</span>
				</li>
				<li class="item-trx-detail-amount">
					<label>Importe total x tiradas</label>
					<span id="total-bets-amount" class="trx-detail-value">$00000</span>
				</li>
				<li class="item-trx-detail-amount equal-divisor"></li>
				<li class="item-trx-detail-amount">
					<label>Total consumido x clientes</label>
					<span id="total-trxs" class="trx-detail-value">$0000.00</span>
				</li>
			</ul>
		</div>
	</div>
</section>