<section class="view upload-file-view">
	<!--<form class="form-upload-file">
		<input id="input-file-name" type="file" name="file-name" />
		<div class="btn btn-upload-file">
			<span>Subir archivo</span>
		</div>
		
	</form>-->

	<div class="wrapper-file-form">
		<input id="file-path" placeholder="Selecciona el archivo" disabled="disabled">
		<div class="btn btn-search-file">
			<span>Buscar</span>
		</div>
		<div class="btn btn-upload-file">
			<span>Subir archivo</span>
		</div>
		<input id="input-file-name" type="file" name="file-name" />
	</div>
	<!--<input id="uploadFile" placeholder="Choose File" disabled="disabled" />
	<div class="fileUpload btn btn-primary">
	    <span>Upload</span>
	    <input id="uploadBtn" type="file" class="upload" />
	</div>-->
</section>